
<div class="col-xs-12 col-lg-4 project-wrapper">
  <div class="project">
    <div class="row">
      <div class="col-xs-12">
        <%= image_tag project.image.url(:medium), size: "300x300", class: "project-image center-block" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1 class="project-title"><%= project.title %></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <p class="project-description"><%= project.description %></p>
      </div>
    </div>

    <div class="project-links">
      <div class="row">
        <div class="col-xs-12 col-xs-offset-3">
          <%= link_to project.github_url, class: "text-center", id: "github-url" do %>
            <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
            View on Github
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-xs-offset-3">
          <%= link_to "View Live", project.production_url, class: "text-center", id: "production-url" %>


        </div>
      </div>
    </div> <!-- end project links -->
  </div><!-- end project -->
</div><!-- end col -->
