<div class="col-xs-12 col-lg-4">
  <div class="project">
    <div class="row">
      <div class="col-xs-12">
        <%= image_tag project.image.url(:medium), size: "300x300", class: "project-image" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1 class="project-title"><%= project.title %></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <p class="project-description"><%= project.description %></p>
      </div>
    </div>

    <div class="project-links">
      <div class="row">
        <div class="col-xs-12">
          <p class="pull-left label">Github:</p><%= link_to project.github_url, project.github_url,  id: "github-url" %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="pull-left label">Live:</p><%= link_to project.production_url, project.production_url, id: "production-url" %>
        </div>
      </div>
    </div> <!-- end project links -->
  </div><!-- end project -->
</div><!-- end col -->