<div class="row">
  <div class="col-xs-12">
    <h1>New Post</h1>
  </div>
</div>

<%= form_for [:admin, @post] do |f| %>
  
  
  <%= f.label :title %>
  
  <div class="form-group">
    <%= f.text_field :title, class: "form-control" %>
  </div>

  
  <%= f.label :content %>
  <p id="content-info"></p>
  <div class="form-group">
    <%= f.text_area :content, class: "form-control", size: "50x40" %>
  </div>

  <div class="form-group">
  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name, {}, class: "form-control") %>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary" %>



<% end %>